html
	head
		title Welcome
		script(src='javascripts/main.js')
		link(rel='stylesheet', href='stylesheets/style.css')
	body
		#content
			img(src='images/logo.png')
			h1 Welcome!
			p You are welcome in my website
			#smile