html
	head
		title Express App - Home
		script(src='javascripts/main.js')
		link(rel='stylesheet', href='stylesheets/style.css')
	body
		#content
			img(src='images/logo.png')
			h1 Welcome!
			#smile